html,
body {
	margin: 0;
	padding: 0;
}
/* Heading */
.head{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 20px;
	background-color: black;
}

.title{
    font-size: 48px;
    font-weight: bold;
    padding: 10px;
}

.navbar{
    font-size: 24px;
    padding: 22px 10px;
    word-spacing: 30px;
}

.title a,
.navbar a{
	text-decoration: none;
    color: white;
}

.navbar a:hover{
	font-size: 28px;
}

.head-items{
	position: relative;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/* Image */
.title-image{
	min-width: 1250px;
}
.title-image img{
	width: 100%;
}

/* Portfolio Content */

.portfolio{

}

.portfolio h2,
.contact h2{
	font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.portfolio-content{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.projects{
	width: 700px;
	border: 1px solid black;
	padding: 10px;
	margin: 10px;
	box-sizing: border-box;
}

.projects img{
	width: 100%;
}

/* contact section */



.contact{
	margin-bottom: 50px;
}

.form-content{
	max-width: 800px;
	padding: 10px;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	box-sizing: border-box;
}

.form-content input[type="text"],
.form-content input[type="email"]{
	box-sizing: border-box;
	margin-bottom: 10px;
	height: 50px;
}

.form-content textarea{
	height: 200px;
	margin-bottom: 10px;
}

.form-content input[type="submit"]{
	width: 25%;
	margin: 0 auto;
	border: 1px solid black;
}

.form-items{
	padding: 10px;
	font-size: 16px;
	border-radius: 10px;
}



/* footer */

.foot-content{
	background-color: black;
	padding: 20px;
}

.foot-content p{
	color: white;
	text-align: center;
}