html,
body {
	margin: 0;
	padding: 0;
}

.head{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 20px;
	background-color: black;
}

.title{
    font-size: 48px;
    font-weight: bold;
    padding: 10px;
}

.navbar{
    font-size: 24px;
    padding: 22px 10px;
    word-spacing: 30px;
}

.title a,
.navbar a{
	text-decoration: none;
    color: white;
}

.navbar a:hover{
	font-size: 28px;
}

.same-head{
	position: relative;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.title-image{
	min-width: 1250px;
}
.title-image img{
	width: 100%;
}