html,
body {
	margin: 0;
	padding: 0;
}
/* Heading */
.head{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 20px;
	background-color: black;
}

.title{
    font-size: 48px;
    font-weight: bold;
    padding: 10px;
}

.navbar{
    font-size: 24px;
    padding: 22px 10px;
    word-spacing: 30px;
}

.title a,
.navbar a{
	text-decoration: none;
    color: white;
}

.navbar a:hover{
	font-size: 28px;
}

.head-items{
	position: relative;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.title-image{
	min-width: 1250px;
}
.title-image img{
	width: 100%;
}

/* Portfolio Content */

.portfolio{

}

.portfolio h2{
	font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.portfolio-content{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.projects{
	width: 600px;
	border: 1px solid black;
	padding: 10px;
	margin: 10px;
	box-sizing: border-box;
}

.projects img{
	width: 100%;
}

